# IGNORE THE FOLLOWING FILE TYPES
**.pyc
**__pycache__
**.vscode
**.mscbackup
**.bkp
**.icl
**-pygbag.???
# IGNORE THE FOLLOWING FOLDERS
build_env/
build/
dist/
.pytest_cache/
install/

