# IGNORE THE FOLLOWING FILE TYPES
**.pyc
**__pycache__
**.vscode
**.mscbackup
**.bkp
**.icl
**.exe
# IGNORE THE FOLLOWING FOLDERS
build_env/
build/
dist/
.pytest_cache/
install/
.ipynb_checkpoints/
.flatpak-builder/
*.egg-info/
.raylib/
lib/
# IGNORE THE FOLLOWING FILES
main

