# IGNORE THE FOLLOWING FILE TYPES
**.pyc
**__pycache__
**.vscode
**.mscbackup
**.bkp
**.icl
**.exe
**.o
**.so*
**.tar*
# IGNORE THE FOLLOWING FOLDERS
build_env/
build/
dist/
install/
lib/
*.egg-info/
.*/
# IGNORE THE FOLLOWING FILES
main

